{% extends 'base.html.twig' %}

{% block title %}Infrastructure index{% endblock %}

{% block body %}
    <h1>Infrastructure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Rue</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Arrondissement</th>
                <th>Horaires</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>SiteWeb</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for infrastructure in infrastructures %}
            <tr>
                <td>{{ infrastructure.id }}</td>
                <td>{{ infrastructure.nom }}</td>
                <td>{{ infrastructure.rue }}</td>
                <td>{{ infrastructure.codePostal }}</td>
                <td>{{ infrastructure.ville }}</td>
                <td>{{ infrastructure.latitude }}</td>
                <td>{{ infrastructure.longitude }}</td>
                <td>{{ infrastructure.arrondissement }}</td>
                <td>{{ infrastructure.horaires }}</td>
                <td>{{ infrastructure.telephone }}</td>
                <td>{{ infrastructure.email }}</td>
                <td>{{ infrastructure.siteWeb }}</td>
                <td>{{ infrastructure.image }}</td>
                <td>
                    <a href="{{ path('infrastructure_show', {'id': infrastructure.id}) }}">show</a>
                    <a href="{{ path('infrastructure_edit', {'id': infrastructure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('infrastructure_new') }}">Create new</a>
{% endblock %}
